<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改新闻</title>
    <style>
        body {
            font-size: 14px;
        }

        div {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<form action="{:url('update')}" method="post">
    <div>
        <label>
            <input type="hidden" name="id" value="{$item.id}">
            标题：
            <input type="text" name="title" autocomplete="off" value="{$item.title}">
        </label>
    </div>
    <div>
        <label>
            描述：
            <input type="text" name="describle" autocomplete="off" value="{$item.describle}">
        </label>
    </div>
    <div>
        <label>
            作者：
            <input type="text" name="author" autocomplete="off" value="{$item.author}">
        </label>
    </div>
    <div>
        <label>
            内容：
            <textarea name="body" cols="60" rows="20" placeholder="{$item.body}"></textarea>
        </label>
    </div>
    <div>
        <input type="submit" value="修改新闻">
    </div>
</form>
</body>
</html>