<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新闻列表</title>
    <style>
        body {
            font-size: 14px;
        }

        .nav {
            text-align: right;
            padding-right: 20px;
        }

        table {
            width: 1000px;
            margin: 0 auto;
        }

        table tr td {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="nav">
    <a href="{:url('logout')}">退出登录</a>
    <a href="{:url('create')}">添加新闻</a>
</div>
<hr>
<div>
    <table>
        <tr>
            <th>ID</th>
            <th>标题</th>
            <th>作者</th>
            <th>操作</th>
        </tr>
        {foreach $data as $item}
        <tr>
            <td>{$item.id}</td>
            <td>{$item.title}</td>
            <td>{$item.author}</td>
            <td>
                <a href="{:url('edit',['id'=>$item.id])}">修改</a>
                <a href="" onclick="del('{:url('del',['id'=>$item.id])}',this)">删除</a>
            </td>
        </tr>
        {/foreach}
        <tr><a href="{:url('delAll')}">全部删除</a></tr>
    </table>
</div>
<script src="https://cdn.bootcss.com/jquery/3.5.0/jquery.min.js"></script>
<script>
    function del(url, obj) {
        var bool = confirm('您真的要删除此条新闻记录吗？');
        if (bool) {
            // ajax实现删除操作
            $.get(url, function (ret) {
                if (ret.status == 0) {
                    $(obj).parents('tr').remove();
                    alert(ret.msg);
                }
            }, 'json');
        }
    }
</script>
</body>
</html>